<template>
    <div class="notification" :class="[type]">{{ message }}</div>
</template>

<script>
export default {
    name: 'Notification',
    props: {
        type: {
            type: String,
            default: ''
        },
        message: {
            type: String,
            default: ''
        }
    }
};
</script>

<style lang="scss" scoped>
@import '../assets/colors';
.notification {
    position: fixed;
    right: 24px;
    top: 24px;
    padding: 16px 24px;
    border-radius: 4px;
    font-weight: bold;
    &.error {
        background-color: transparentize($error, 0.3);
    }
}
</style>
