<template>
    <div>
        <div class="section-title">Offers</div>
        <div class="section-actions">
            <div class="action">
                <input
                    type="checkbox"
                    id="price"
                    :checked="filterBy === 'price'"
                    @change="toggleFilter('price')"
                />
                <label for="price">View over 400k+</label>

                <label for="orderBy">Order by: </label>
                <select
                    name="orderBy"
                    id="orderBy"
                    v-model="orderBy"
                    @change="applyFilters"
                >
                    <option
                        v-for="orderOption in orderOptions"
                        :key="orderOption.field"
                        :value="orderOption"
                    >
                        {{ orderOption.label }}
                    </option>
                </select>
            </div>
        </div>
        <div class="card-list">
            <div class="card" v-for="offer in visibleOffers" :key="offer.id">
                <div class="offer-price">$ {{ offer.price }}</div>
                <property-table :property="offer.property" />
                <div class="offer-by">by {{ offer.offered_by }}</div>
            </div>
        </div>
    </div>
</template>

<script>
import PropertyTable from '@/components/PropertyTable';
import { OfferService } from '@/services/offer.service';

export default {
    name: 'Offers',
    components: { PropertyTable },
    props: {
        selectedPropertyId: {
            type: Number,
            default: null
        }
    },
    data() {
        return {
            orderOptions: [
                { label: 'Price', field: 'price', isPropertyField: false },
                { label: 'Rooms', field: 'bedrooms', isPropertyField: true },
                { label: 'Area', field: 'area', isPropertyField: true }
            ],
            visibleOffers: [],
            offers: [],
            filterBy: '',
            filterValue: 400000,
            orderBy: '',
            propertyId: null
        };
    },
    created() {
        /**
         * fetching all offers from backend
         * and storing them in local variable
         */
        OfferService.getAll().then(offers => {
            this.offers = offers;
            this.visibleOffers = [...this.offers];
        });
    },
    methods: {
        toggleFilter(prop) {
            this.filterBy = this.filterBy === 'price' ? '' : prop;
            this.applyFilters();
        },
        applyFilters() {
            if (this.filterBy) {
                this.visibleOffers = this.offers.filter(
                    offer => offer[this.filterBy] >= this.filterValue
                );
            } else {
                this.visibleOffers = [...this.offers];
            }
            if (this.propertyId) {
                this.visibleOffers = this.visibleOffers.filter(
                    offer => offer.property.id === this.propertyId
                );
            }
            if (this.orderBy) {
                if (this.orderBy.isPropertyField) {
                    this.visibleOffers.sort(
                        (a, b) =>
                            a.property[this.orderBy.field] -
                            b.property[this.orderBy.field]
                    );
                } else {
                    this.visibleOffers.sort(
                        (a, b) => a[this.orderBy.field] - b[this.orderBy.field]
                    );
                }
            }
        }
    },
    watch: {
        selectedPropertyId(id) {
            this.propertyId = id;
            this.applyFilters();
        }
    }
};
</script>

<style lang="scss" scoped>
@import '../assets/colors';

.offer-price {
    color: $primary;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid $border;
    padding-bottom: 8px;
}

.offer-by {
    color: $primary;
    text-align: right;
    border-top: 1px solid $border;
    padding-top: 8px;
}
</style>
