<template>
    <table>
        <tbody>
            <tr>
                <td>Property Type</td>
                <td>{{ property.kind }}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{ property.location }}</td>
            </tr>
            <tr>
                <td>Bedrooms</td>
                <td>{{ property.bedrooms }}</td>
            </tr>
            <tr>
                <td>Area</td>
                <td>{{ property.area }} m<sup>2</sup></td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    name: 'PropertyTable',
    props: {
        property: {
            type: Object,
            default: () => ({})
        }
    }
};
</script>

<style lang="scss" scoped>
@import '../assets/colors';

table {
    width: 100%;
    border-collapse: collapse;
    tr:not(:last-of-type) {
        border-bottom: 1px solid $border;
    }
    tr {
        > :first-child {
            font-weight: bold;
        }
        td {
            text-align: left;
            width: 50%;
        }
    }
}
</style>
