<template>
    <div>
        <div class="section-title">Properties</div>
        <div class="section-actions">
            <div class="action">
                <input
                    type="checkbox"
                    id="apartments"
                    :checked="filterBy === 'Apartment'"
                    @change="toggleFilter('Apartment')"
                />
                <label for="apartments">View Apartments Only</label>
            </div>
        </div>
        <div class="card-list">
            <div
                class="card property"
                :class="{ selected: selectedPropertyId === property.id }"
                @click="toggleCard(property.id)"
                v-for="property in visibleProperties"
                :key="property.id"
            >
                <property-table :property="property" />
            </div>
        </div>
    </div>
</template>

<script>
import { PropertyService } from '@/services/property.service';
import PropertyTable from '@/components/PropertyTable';

export default {
    name: 'Properties',
    components: { PropertyTable },
    data() {
        return {
            properties: [],
            filterBy: '',
            selectedPropertyId: null
        };
    },
    created() {
        /**
         * fetching all properties from backend
         * and storing them in local variable
         */
        PropertyService.getAll().then(properties => {
            this.properties = properties;
        });
    },
    methods: {
        toggleFilter(kind) {
            this.filterBy = this.filterBy === kind ? '' : kind;
        },
        toggleCard(propertyId) {
            this.selectedPropertyId =
                this.selectedPropertyId === propertyId ? null : propertyId;
            // emitting "select" event to parent
            this.$emit('select', this.selectedPropertyId);
        }
    },
    computed: {
        /**
         * filtering properties by "filterBy" value
         * @returns {*[]|[]}
         */
        visibleProperties() {
            return this.filterBy
                ? this.properties.filter(
                      property => property.kind === this.filterBy
                  )
                : this.properties;
        }
    }
};
</script>

<style lang="scss" scoped>
@import '../assets/colors';

.property {
    will-change: box-shadow;
    transform: translateZ(0);
    transition: box-shadow 100ms;
    &:hover {
        cursor: pointer;
    }
    &.selected {
        box-shadow: 0 0 0 2px $primary;
    }
}
</style>
