<template>
    <div id="app">
        <properties @select="selectedPropertyId = $event" />
        <offers :selected-property-id="selectedPropertyId" />
        <transition name="fade">
            <notification
                v-if="notification.message"
                :type="notification.type"
                :message="notification.message"
            />
        </transition>
    </div>
</template>

<script>
import Properties from '@/components/Properties';
import Offers from '@/components/Offers';
import Notification from '@/components/Notification';

export default {
    name: 'App',
    data() {
        return {
            selectedPropertyId: null,
            notification: {
                type: '',
                message: ''
            }
        };
    },
    components: { Notification, Offers, Properties },
    created() {
        this.initErrorListener();
    },
    methods: {
        initErrorListener() {
            let errorTimeout = null;
            this.$root.$on('error', message => {
                this.notification.type = 'error';
                this.notification.message = message;
                clearTimeout(errorTimeout);
                errorTimeout = setTimeout(() => {
                    this.notification.message = '';
                    this.notification.type = '';
                }, 2000);
            });
        }
    }
};
</script>

<style lang="scss">
@import 'assets/colors';

html,
body {
    margin: 0;
    padding: 0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: $text;
    padding: 0 24px;
    > *:not(.notification) {
        margin: 24px 0;
    }
}

.section-title {
    font-weight: bold;
    text-align: center;
}
.section-actions {
    flex: 100%;
    font-size: 14px;
    margin: 24px 24px 8px;
    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        [type='checkbox'] {
            width: 16px;
            height: 16px;
        }
        label {
            margin: 0 8px;
        }
    }
}
.card-list {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    min-height: 196px;
    .card {
        border-radius: 4px;
        padding: 16px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14),
            0 1px 3px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
    }
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
</style>
